@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$red-color: #f6323e
$blanco: #fff
$c7: #c7c7c7
$gris: #4f4f4f
$marron: #8c0011
$magna: #01a01e
$gas: #e4de00
$turquesa: #78ffe1
.gris
	color: $gris
.white
	color: white
.red
	color: $red-color
.bg-gray
	background-color: #e7e7e7
.border-none
	border: none !important
.m-top--25
	margin-top: -25px
.m-top--20
	margin-top: -20px
.m-top--10
	margin-top: -10px
.m-top-20
	margin-top: 20px
.m-bottom-20
	margin-bottom: 20px
a.submit
	padding: 5px 20px
.capitalize
	text-transform: capitalize
.overflow-hidden
	overflow: hidden
body
	padding-top: 50px
	font-family: 'Oswald', sans-serif
.navbar-default
	background-color: $red-color
	border: none
	.navbar-toggle
		border: none
		&:hover
			background: none
		.icon-bar
			background-color: $blanco
	.navbar-nav > li > a
		color: $blanco
		transition: color .3s ease-out
	.navbar-nav > .active > a
		background-color: rgba(white, .8)
		&:hover
			color: rgba(white, .7)
			transition: .3s ease-in
	.navbar-nav > li > a:hover
		color: rgba(white, .6)
		transition: color .3s ease-in
.main-banner-container
	background: transparent url(/images/banner_home_header.jpg) no-repeat center top
	background-size: cover
	height: 480px
	color: white
	&.economico
		background: transparent url(/images/banner_economicas_992.jpg) no-repeat center top
		background-size: cover
	&.ecologico
		background: transparent url(/images/banner_ecologicos_992.jpg) no-repeat center top
		background-size: cover
		.item
			padding-top: 330px
	&.seguridad
		background: transparent url(/images/banner_seguridad_992.jpg) no-repeat center top
		background-size: cover
	&.gnv
		background: transparent url(/images/banner_gnv_992.jpg) no-repeat center top
		background-size: cover
	&.contacto
		background: transparent url(/images/banner_home_header.jpg) no-repeat center top
		background-size: cover
		.item
			padding-top: 375px
	.item
		padding-top: 175px
	p
		font-size: 2.4em
		text-transform: uppercase
		font-weight: 200
		line-height: 1.2em
		b
			font-weight: 400
		span
			font-size: .6em
.calculator
	border: 1px solid $c7
	margin-top: -132px
	margin-bottom: 20px
	background: rgba(white, .85)
	text-align: center
	padding: 10px 10px 0 10px
	.cifras
		color: $red-color
		font-size: 2em
	select
		border: none
		width: 45%
		float: left
		border-radius: 0
	.input-pesos
		width: 50%
		border-radius: 0
		float: right
.submit
	border-radius: 0
	background-color: $red-color
	border: 1px solid $red-color
	text-transform: uppercase
	font-weight: 200
	letter-spacing: 1px
	&:active
		background-color: rgba($red-color, .9)
		border-color:  rgba($red-color, .9)
		transition: background-color .5s ease
	&:focus
		background-color: rgba($red-color, .8)
		border-color:  rgba($red-color, .8)
		transition: background-color .5s ease
		outline: none
	&:hover
		background-color: rgba($red-color, .7)
		border-color:  rgba($red-color, .7)
		transition: background-color .5s ease
.car-item
	height: auto
	margin-top: 10px
	height: 200px
	overflow: hidden
	position: relative
	img
		width: 100%
		height: auto
		display: inline-block
	.card
		background: rgba(black, .8)
		color: white
		position: relative
		margin-top: -100px
		height: 100px
		padding: 10px
		.title
			text-transform: uppercase
			text-align: center
			font-weight: 200
			font-size: 1.3em
.block-title
	margin: 25px 0
	font-size: 1.2em
.facts-container
	overflow: hidden
	position: relative
	width: 100%
	height: auto
.fact-item
	padding: 20px 0
	display: inline-block
	.fact-title
		margin: 5px 0
		font-size: 1.4em
		font-weight: 200
	span
		&::before
			font-size: 8em
.map-home
	height: 230px
	background: $c7
	width: 100%
.news-container
	overflow: hidden
.slick-dots
	padding: 10px 0
	text-align: center
	li
		display: inline-block
		width: 14px
		height: 14px
		overflow: hidden
		background-color: $c7
		border-radius: 50%
		margin: 0 5px
		transition: background-color .6s ease-out
		&.slick-active
			background-color: $red-color
			transition: background-color .6s ease-in
		button
			color: transparent
.news-item
	padding: 10px 20px
	text-align: center
	display: inline-block
	.title
		margin: 15px 0
		font-size: 1.4em
	.info
		color: $gris
		padding-bottom: 20px
/*ECONOMICO*/
.top-icon-line
	margin: -60px auto 0 auto
	width: 120px
	height: 120px
	border-radius: 50%
	overflow: hidden
	background-color: white
	span
		font-size: 5.8em
		color: $red-color
.fuel-container
	margin-top: 30px
	margin-bottom: 30px
.fuel-item
	margin-bottom: 10px
	display: flex
	.title
		font-size: 1.4em
		font-weight: 200
		width: 25%
	.chart
		width: 75%
		overflow: hidden
		display: flex
		align-items: center
		position: relative
		z-index: 1
		.line
			height: 2px
			background-color: rgba($red-color, .7)
			width: 36%
			&.premium
				background-color: rgba($marron, .7)
				width: 85%
			&.magna
				background-color: rgba($magna, .7)
				width: 80%
			&.gas-lp
				background-color: rgba($gas, .7)
				width: 50%
		.dot
			border: 2px solid $red-color
			border-radius: 50%
			width: 10px
			height: 10px
			background-color: transparent
			&.premium
				border-color: rgba($marron, .7)
			&.magna
				border-color: rgba($magna, .7)
			&.gas-lp
				border-color: rgba($gas, .7)
.lines
	margin-top: -150px
	position: relative
	z-index: -1
	.line
		height: 150px
		width: 2px
		background-color: $turquesa
		display: inline-block
		&._0
			margin-left: 27%
		&._10
			margin-left: 31%
		&._20
			margin-left: 33%
.prices
	font-weight: 200
	font-size: 1.1em
	._0
		margin-left: 25%
	._10
		margin-left: 25%
	._20
		margin-left: 25%
.inner-banner
	height: 180px
	display: block
	background: transparent url(/images/banner_economicas_inner_992.jpg) no-repeat center center
	background-size: cover
	&.ecologico
		background: transparent url(/images/banner_ecologicos_inf_992.jpg) no-repeat center center
		background-size: cover
	&.seguridad
		background: transparent url(/images/banner_seguridad_inf_992.jpg) no-repeat center center
		background-size: cover
/*CONTACTO*/
textarea
	resize: none
.form-control
	border-radius: 0
footer
	background: $red-color
	padding: 0 0 30px 0
	.newsletter
		margin-top: 30px
		.title
			font-size: 1.2em
	a
		color: $blanco
	ul
		padding: 10px 0
		border-bottom: 1px solid rgba(white, .5)
		li
			display: block
			margin-bottom: 5px
		&.social
			text-align: center
			li
				display: inline-block
				font-size: 2em
				margin: 0 5px
				a:hover
					color: rgba(white, .8)
					text-decoration: none
					transition: color .5s ease
	.info
		text-align: center
		color: white
@media screen and (min-width: 325px)
	.car-item
		.card
			margin-top: -150px
@media screen and (min-width: 425px)
	.car-item
		height: 240px
		.card
			margin-top: -150px
	.prices
		._10
			margin-left: 27%
		._20
			margin-left: 29%
@media screen and (min-width: 480px)
	.car-item
		height: 270px
		.card
			margin-top: -165px
@media screen and (min-width: 540px)
	.car-item
		height: 310px
		.card
			margin-top: -170px
	.prices
		._10
			margin-left: 29%
		._20
			margin-left: 31%
@media screen and (min-width: 580px)
	.car-item
		height: 335px
		.card
			margin-top: -175px
@media screen and (min-width: 768px)
	body
		padding-top: 0
	.navbar-default
		background-color: transparent
		transition: background .5s ease-out
		&.transparent
			background: $red-color
			transition: background .5s ease-in
			.navbar-nav > .active > a
				color: black
				transition: color .5s ease-in
		.navbar-nav > .active > a
			color: white
			background: none
			&:hover
				background: none
			&:before
				content: '_____'
				color: $red-color
				position: absolute
				left: 30%
				bottom: 5px
	.main-banner-container
		height: 820px
		.item
			padding-top: 350px
		p
			font-size: 4em
			line-height: 1.2em
			b
				font-weight: 400
			span
				font-size: .6em
	.block-title
		font-size: 1.8em
	.car-item
		height: 245px
		.card
			margin-top: -100px
	.news-container
		margin-top: 20px
		margin-bottom: 20px
	.map-home
		height: 340px
	/*ECONOMICOS*/
	.top-icon-line
		margin: -100px auto 0 auto
		width: 200px
		height: 200px
		.icon-economico
			font-size: 10em
	.fuel-item
		margin-bottom: 20px
		.title
			font-size: 1.5em
			width: 15%
		.chart
			width: 85%
			.line
				width: 30%
				&.premium
					background-color: rgba($marron, .7)
					width: 85%
				&.magna
					background-color: rgba($magna, .7)
					width: 80%
				&.gas-lp
					background-color: rgba($gas, .7)
					width: 45%
			.dot
				border: 4px solid $red-color
				width: 14px
				height: 14px
	.lines
		margin-top: -200px
		.line
			height: 200px
			&._0
				margin-left: 17%
			&._10
				margin-left: 32%
			&._20
				margin-left: 42%
	.prices
		._0
			margin-left: 16%
		._10
			margin-left: 29%
		._20
			margin-left: 40%
	.inner-banner
		height: 440px
	/*CONTACTO*/
	textarea.form-control
		height: 132px
	footer
		.info
			text-align: left
		ul
			border-bottom: 0
			&.social
				text-align: left
		.bottom-block
			padding-top: 30px
		.col-sm-4
			height: 160px
			border-right: 1px solid rgba(white, .5)

@media screen and (min-width: 992px)
	.main-banner-container
		height: 690px
		.item
			padding-top: 250px
		p
			font-size: 5em
			line-height: 1.1em
			span
				font-size: .5em
	.car-item
		height: 320px
		.card
			margin-top: -115px
			.title
				margin-bottom: 10px
	.map-home
		height: 440px
@media screen and (min-width: 1200px)
	.main-banner-container
		height: 800px
	.car-item
		height: 180px
		&:hover
			.card
				margin-top: -200px
				transition: margin-top .2s ease-out, height .1s ease
			.title
				margin-top: 30px
				transition: margin-top .3s ease
		.card
			margin-top: -60px
			height: 200px
			transition: margin-top .2s ease-in
			.title
				margin-bottom: 20px
				transition: margin-top .2s ease-in
@media screen and (min-width: 1600px)
	.main-banner-container
		background: transparent url(/images/banner_home_header.jpg) no-repeat center center
		background-size: cover
		&.economico
			background: transparent url(/images/banner_economicas_992.jpg) no-repeat center center
			background-size: cover
		&.ecologico
			background: transparent url(/images/banner_ecologicos_992.jpg) no-repeat center center
			background-size: cover